@using CalendarMVC.Models

@model WeekOfMonth


<table class="table table-responsive tblCalendar">
    <tr id="trCalendarHeader" class="calendar-remove-hover">
        <th colspan="5" style="text-align:left;" class="pl10 calendar-remove-hover">
            <h4>@string.Format("{0}, {1}", Model.CurrentMonth, Model.CurrentYear)</h4>
        </th>
        <th colspan="1" style="text-align:center;" class="calendar-remove-hover">
            <h4> <a id="@Model.PrevMonth" class="month"><span class="glyphicon glyphicon-chevron-up"></span></a></h4>
        </th>

        <th colspan="1" style="text-align:center;" class="calendar-remove-hover">
            <h4><a id="@Model.NextMonth" class="month"><span class="glyphicon glyphicon-chevron-down"></span></a></h4>
        </th>
    </tr>
    <tr>
        <th class="calendar-remove-hover">Mo</th>
        <th class="calendar-remove-hover">Tu</th>
        <th class="calendar-remove-hover">We</th>
        <th class="calendar-remove-hover">Th</th>
        <th class="calendar-remove-hover">Fr</th>
        <th class="calendar-remove-hover">Sa</th>
        <th class="calendar-remove-hover">Su</th>
    </tr>
    <tr id="week1">
        @foreach (var item in Model.Week1)
        {
            if (item != null)
            {
                if (item.DayOrder == 0 || item.DayOrder == 6)
                {
                    <td class="calendar-remove-hover">
                        <a id="@item.DateStr"
                           class="dt"><h3>@item.DateDay</h3> </a>
                    </td>
                }
                else if (item.Date != DateTime.Today)
                {
                    <td class="calendar-remove-hover">
                        <a id="@item.DateStr"
                           class="dt"><h3>@item.DateDay</h3> </a>
                    </td>
                }
                else
                {
                    <td class="calendar-select">
                        <a id="@item.DateStr"
                           class="dt"><h3>@item.DateDay</h3> </a>
                    </td>
                }
            }
            else
            {
                <td class="calendar-remove-hover">
                </td>
            }
        }
    </tr>
    <tr id="week2">
        @foreach (var item in Model.Week2)
        {
            if (item != null)
            {
                if (item.DayOrder == 0 || item.DayOrder == 6)
                {
                    <td class="calendar-remove-hover">
                        <a id="@item.DateStr"
                           class="dt"><h3>@item.DateDay</h3> </a>
                    </td>
                }
                else if (item.Date != DateTime.Today)
                {
                    <td class="calendar-remove-hover">
                        <a id="@item.DateStr"
                           class="dt"><h3>@item.DateDay</h3> </a>
                    </td>
                }
                else
                {
                    <td class="calendar-select">
                        <a id="@item.DateStr"
                           class="dt"><h3>@item.DateDay</h3> </a>
                    </td>
                }
            }
            else
            {
                <td class="calendar-remove-hover">
                </td>
            }
        }
    </tr>
    <tr id="week3">
        @foreach (var item in Model.Week3)
        {
            if (item != null)
            {
                if (item.DayOrder == 0 || item.DayOrder == 6)
                {
                    <td class="calendar-remove-hover">
                        <a id="@item.DateStr"
                           class="dt"><h3>@item.DateDay</h3> </a>
                    </td>
                }
                else if (item.Date != DateTime.Today)
                {
                    <td class="calendar-remove-hover">
                        <a id="@item.DateStr"
                           class="dt"><h3>@item.DateDay</h3> </a>
                    </td>
                }
                else
                {
                    <td class="calendar-select">
                        <a id="@item.DateStr"
                           class="dt"><h3>@item.DateDay</h3> </a>
                    </td>
                }
            }
            else
            {
                  <td class="calendar-remove-hover"></td>
            }
        }
    </tr>
    <tr id="week4">
        @foreach (var item in Model.Week4)
        {
            if (item != null)
            {
                if (item.DayOrder == 0 || item.DayOrder == 6)
                {
                    <td class="calendar-remove-hover">
                        <a id="@item.DateStr"
                           class="dt"><h3>@item.DateDay</h3> </a>
                    </td>
                }
                else if (item.Date != DateTime.Today)
                {
                    <td class="calendar-remove-hover">
                        <a id="@item.DateStr"
                           class="dt"><h3>@item.DateDay</h3> </a>
                    </td>
                }
                else
                {
                    <td class="calendar-select">
                        <a id="@item.DateStr"
                           class="dt"><h3>@item.DateDay</h3> </a>
                    </td>
                }
            }
            else
            {
                  <td class="calendar-remove-hover"></td>
            }
        }
    </tr>
    <tr id="week5">
        @foreach (var item in Model.Week5)
        {
            if (item != null)
            {
                if (item.DayOrder == 0 || item.DayOrder == 6)
                {
                    <td class="calendar-remove-hover">
                        <a id="@item.DateStr"
                           class="dt"><h3>@item.DateDay</h3> </a>
                    </td>
                }
                else if (item.Date != DateTime.Today)
                {
                    <td class="calendar-remove-hover">
                        <a id="@item.DateStr"
                           class="dt"><h3>@item.DateDay</h3> </a>
                    </td>
                }
                else
                {
                    <td class="calendar-select">
                        <a id="@item.DateStr"
                           class="dt"><h3>@item.DateDay</h3> </a>
                    </td>
                }
            }
            else
            {
                  <td class="calendar-remove-hover"></td>
            }
        }
    </tr>
    <tr id="week6">
        @if (Model.Week6 != null)
        {
            foreach (var item in Model.Week6)
            {
                if (item != null)
                {
                    if (item.DayOrder == 0 || item.DayOrder == 6)
                    {
                        <td class="calendar-remove-hover">
                            <a id="@item.DateStr"
                               class="dt"><h3>@item.DateDay</h3> </a>
                        </td>
                    }
                    else if (item.Date != DateTime.Today)
                    {
                        <td class="calendar-remove-hover">
                            <a id="@item.DateStr"
                               class="dt"><h3>@item.DateDay</h3></a>
                        </td>
                    }
                    else
                    {
                        <td class="calendar-select">
                            <a id="@item.DateStr"
                               class="dt"><h3>@item.DateDay</h3> </a>
                        </td>
                    }
                }
                else
                {
                      <td class="calendar-remove-hover"></td>
                }
            }
        }
    </tr>
</table>
